<div class="promoContainer">
    <div class="promoItem">
        <div class="divDesc">
            <p class="tragoGratis">1 PINTA GRATIS</p>
            <p>COMPARTIENDO EN TU HISTORIA DE INSTAGRAM NUESTRA PUBLICACIÓN Y EXHIBIENDO ESTE CUPÓN.</p>
        </div>
        <br>
        
        <div  class="divDesc">LA PROMO FINALIZA EN: </div>
        <section>
            <div class="coming-soon">
                <div class="time-countdown">
                    <ul>
                        <li class="count-bg-two radius"><span id="hours">{{hours}}</span>Horas</li>
                        <li class="count-bg-three radius"><span id="minutes">{{minutes}}</span>Minutos</li>
                        <li class="count-bg-four radius"><span id="seconds">{{seconds}}</span>Segundos</li>
                    </ul>
                </div>
            </div>
        </section>
        <a href="https://www.instagram.com/p/CbSkyparXzV/?utm_medium=copy_link">
            <button class="buttonCompartir">
                COMPARTIR AHORA!
            </button>
        </a>
        
    </div>
</div>
