.pageContainer {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    background-color: black;
}

img {
    height: 100vh;
}

@media (max-width: 940px) {
    .pageContainer {
        display: block;
        height: 100%;
        text-align: center;
        background-color: black;
    }

    img {
        max-width: 100%;
    }
}