<div class="containerCocteleria">
    <div class="pageContainer">
        <img src="https://res.cloudinary.com/dgq2ycemj/image/upload/v1647488504/CARTATRAGOSFRENTE_con_precios_xqhfgv.png" alt="">
        <img src="https://res.cloudinary.com/dgq2ycemj/image/upload/v1647488512/CARTATRAGOSTRASERA_precios_riih7y.png" alt="">    
    </div>
    <div class="pageContainer">    
        <img src="https://res.cloudinary.com/dgq2ycemj/image/upload/v1647652518/CARTA_CERVEZA_nlwlsx.png" alt="">
        <img src="https://res.cloudinary.com/dgq2ycemj/image/upload/v1647652518/carta_champagne_actualizada_18.3_apnqco.png" alt="">
        
    </div>
    <div class="pageContainer">
        <img src="https://res.cloudinary.com/dgq2ycemj/image/upload/v1647737167/WhatsApp_Image_2022-03-19_at_9.43.49_PM_w9wmlk.jpg" alt="">
    </div>
</div>

