<div class="containerCocteleria">
    <div class="pageContainer">
        <img src="https://res.cloudinary.com/dgq2ycemj/image/upload/v1654472342/CARTATRAGOSFRENTE_con_precios_e5rcx1.png" alt="">
        <img src="https://res.cloudinary.com/dgq2ycemj/image/upload/v1654472341/CARTATRAGOSTRASERA_i5ozkj.png" alt="">    
    </div>
    <div class="pageContainer">    
        <img src="https://res.cloudinary.com/dgq2ycemj/image/upload/v1654472322/CARTA_CERVEZA_drjnwx.png" alt="">
        <img src="https://res.cloudinary.com/dgq2ycemj/image/upload/v1654472322/espumantes_rcb2h6.png" alt="">
        
    </div>
    <div class="pageContainer">
        <img src="https://res.cloudinary.com/dgq2ycemj/image/upload/v1647737167/WhatsApp_Image_2022-03-19_at_9.43.49_PM_w9wmlk.jpg" alt="">
    </div>
</div>

