.containerCocteleria {
    width: 100vw;
    display: block;
}
.pageContainer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: black;
}


img {
    width: 50%;
}



@media (max-width: 940px) {
    .pageContainer {
        display: block;
        
    }

    img {
       width: 100%;
        /* width: 100vw; */
    }
}

